<h1>Bienvenido a la comisaría más segura</h1>
    <p>
        En <b>comisarUA</b> somos conscientes de la importancia de los datos, por ello utilizamos criptografía
        para proteger tanto los datos de nuestros policías como de los presos que están registrados en el sistema.
    </p>
    <p>
        En concreto utlizamos:
    </p>
    <div>
        <ul>
            <li>Derivación de contraseñas.</li>
            <li>Criptografía simétrica.</li>
            <li>Criptografía asimétrica.</li>
        </ul>
    </div>
    <p>
        De esta forma, nos aseguramos de que solamente accede a los datos el personal autorizado para dicho cometido
    </p>