<div class="col-12 register">
    <h2>Información personal</h2>
    <hr class="rounded">
    <p>
        Aquí podrás leer todos tus documentos privados y subir nueva documentación con la seguridad
        de que únicamente tú podrás leer la información.
    </p>
    <div class="row">
        <div class="col-6">
            {{>documents}}
        </div>
        <div class="col-6">
            {{>upload}}
        </div>
    </div>
    
</div>